.wrapper {
    max-width: 1000px;
}

.header {
    position: relative;
    display: flex;
    margin: 0 0 2rem;
    align-items: center;
}


h2 {
    display: inline-block;
}

.new-btn {
    float: right;
    position: absolute;
    right: 0;
}
